<main class="home">
	<div class="home__info">
		<h2 class="home__slogan">Track your daily calorie intake</h2>
		<p class="home__desc">
			Caloudie helps you keep track of your calorie intake so you can remain
			true to your diet goals.
		</p>

		<i class="home__cite">
			“If you can’t measure it,  you can’t manage It”<cite>
				- W. Edwards Deming</cite
			>
		</i>

		<a routerLink="/today" class="home__cta-link">Try it out!</a>
	</div>

	<img
		class="home__food-icon"
		src="assets/images/food.svg"
		alt="Fork, knife and a plate"
		loading="lazy"
	/>
</main>
